@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext');

/* Variables */

$color-light: #fff;
$color-dark: #2C3A47;
$color-link: #58B19F;
$color-link-hover: #55E6C1;  
$font-logo: 'Sacramento', cursive;
$font-header: 'Oswald', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-image: url("https://i.postimg.cc/C54F6T0n/pexels-vishal-amin-910307.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: $font-text;
  color: $color-dark;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: $font-header;
  font-weight: 600;
    span {
    text-transform: none;
    font-weight: 400;
    color: lighten($color-dark, 20%);
  }
}

/* Layout */

.wrapper {
  display: flex;
  margin-left: 10px;
}

.sidebar {
  flex: 1 0 0;
}

.posts {
  flex: 2 0 0;
  position: relative;
  overflow: auto;
}

.sidebar, .posts {
  background: $color-light;
  margin-right: 10px;
  padding: 40px;
  border: 1px solid #fff;
  border-radius: 5px;
  min-height: 750px;
}

/* Logo */

.logo {
  font-family: $font-logo;
  font-weight: 600;
  font-size: 104px;
  line-height: 1;
  text-align: center;
  color: $color-dark;
}

/* Lists */

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  .active {
    font-weight: bold;
  }
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  align-items: space-around;
}

.list a {
  text-decoration: none;
  color: $color-link;
}

.list a:hover {
  color: $color-link-hover;
}

.sidebar a {
  font-size: 20px;
}

.sidebar li {
  margin-right: 20px;
}

.list-horizontal {
  li {
    display: inline-block;
  }
}
/*Tags*/
a.tag-size-1 {
  font-size: 16px;
}
a.tag-size-2 {
  font-size: 19px;
}
a.tag-size-3 {
  font-size: 22px;
}
a.tag-size-4 {
  font-size: 25px;
}
a.tag-size-5 {
  font-size: 28px;
}

/* Authors */

.authors {
  li {
    margin-bottom: 12px;
  }
}

.post {
  position: absolute;
  opacity: 0;
  z-index: 0;
  &.active {
  opacity: 1;
  z-index: 2;
  max-width: 85%;
  transition: opacity 1s ease-in-out;
  }
}

.post-author a {
  font-style: italic;
  color: $color-link;
  text-decoration: none;
}

.post-author a:hover {
  color: $color-link-hover;
}

.post-tags {
  display: flex;
  p {
    margin: 0 10px 0 0;
  }
  a {
    margin: 0 10px 0 0;
  }
}

@media (max-width: 575px) {
  .wrapper {
    flex-direction: column;
  }
  .sidebar ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    //align-content: flex-start;
  }
  .sidebar {
    min-height: 400px;
  }
  .sidebar:first-of-type {
    min-height: 300px;
  }
  .posts {
    min-height: 600px;
  }
  .sidebar, .posts {
    margin-bottom: 10px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .wrapper {
    flex-direction: column;
  }
  .sidebar ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .sidebar {
    min-height: 350px;
  }
  .sidebar:first-of-type {
    min-height: 200px;
  }
  .posts {
    min-height: 600px;
  }
  .sidebar, .posts {
    margin-bottom: 10px;
  }
}